# Movies Tonight Part 3: SQL DML

In [16]:
%load_ext sql
%sql sqlite:///movies.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @movies.db'

1. **Load the `DATASET.csv` file into the `Movies.db` database.**  
    - Import the CSV file to create a new table called `DATASET`. Follow the example [here](http://www.sqlitetutorial.net/sqlite-import-csv/).
    - Use a [`PRAGMA table-info` pseudo-query](https://www.sqlite.org/pragma.html#pragma_table_info) to inspect the design of the new table. [How are we going to handle dates](https://www.sqlite.org/datatype3.html)?

In [3]:
%%sql
INSERT INTO MOVIES (MTitle, Rating)
    SELECT DISTINCT MTitle, Rating FROM Dataset;

 * sqlite:///movies.db
23 rows affected.

[]

2. **Populate the tables with data.**  

    - Use `INSERT ... SELECT ...` queries to extract data from `DATASET` for each table of your other tables. 
    - Start with the strong entities before moving on to the weak ones. Be sure to always select distinct     values. 
    - Foreign Keys get special treatment. You will have to use JOINs to pick up the PKs from the other side of the relationships. (As in Part 1, use the fact that movie names, theater names, and people names are always unique in our source data. That way you can use then for the JOIN columns. 
    - If you have to start over, then rerun your DDL queries from Part 2.

In [4]:
%%sql
SELECT *
FROM DATASET
LIMIT 10;

 * sqlite:///movies.db
Done.

[('Akarakian Theatres Moreno 4 Cinemas', 'The Intersection Of Alessandro + Perris Blvds, Moreno Valley', '(909) 485-2899', 'Associate, The', '4:20 PM', 'PG-13', 'A', 'Austin Pendleton'),
 ('Akarakian Theatres Moreno 4 Cinemas', 'The Intersection Of Alessandro + Perris Blvds, Moreno Valley', '(909) 485-2899', 'Associate, The', '4:20 PM', 'PG-13', 'A', 'Bebe Neuwirth'),
 ('Akarakian Theatres Moreno 4 Cinemas', 'The Intersection Of Alessandro + Perris Blvds, Moreno Valley', '(909) 485-2899', 'Associate, The', '4:20 PM', 'PG-13', 'A', 'Dianne Wiest'),
 ('Akarakian Theatres Moreno 4 Cinemas', 'The Intersection Of Alessandro + Perris Blvds, Moreno Valley', '(909) 485-2899', 'Associate, The', '4:20 PM', 'PG-13', 'A', 'Eli Wallach'),
 ('Akarakian Theatres Moreno 4 Cinemas', 'The Intersection Of Alessandro + Perris Blvds, Moreno Valley', '(909) 485-2899', 'Associate, The', '4:20 PM', 'PG-13', 'A', 'Kenny Kerr'),
 ('Akarakian Theatres Moreno 4 Cinemas', 'The Intersection Of Alessandro + Perris Blvds, Moreno Valley', '(909) 485-2899', 'Associate, The', '4:20 PM', 'PG-13', 'A', 'Lainie Kazan'),
 ('Akarakian Theatres Moreno 4 Cinemas', 'The Intersection Of Alessandro + Perris Blvds, Moreno Valley', '(909) 485-2899', 'Associate, The', '4:20 PM', 'PG-13', 'A', 'Tim Daly'),
 ('Akarakian Theatres Moreno 4 Cinemas', 'The Intersection Of Alessandro + Perris Blvds, Moreno Valley', '(909) 485-2899', 'Associate, The', '4:20 PM', 'PG-13', 'A', 'Whoopi Goldberg'),
 ('Akarakian Theatres Moreno 4 Cinemas', 'The Intersection Of Alessandro + Perris Blvds, Moreno Valley', '(909) 485-2899', 'Associate, The', '4:20 PM', 'PG-13', 'D', 'Donald Petrie'),
 ('Akarakian Theatres Moreno 4 Cinemas', 'The Intersection Of Alessandro + Perris Blvds, Moreno Valley', '(909) 485-2899', 'Associate, The', '7:20 PM', 'PG-13', 'A', 'Austin Pendleton')]

In [5]:
%%sql
INSERT INTO THEATERS (TName, Location, Phone)
    SELECT DISTINCT TName, Location, Phone 
    FROM Dataset;

 * sqlite:///movies.db
9 rows affected.

[]

In [6]:
%%sql
INSERT INTO ARTISTS (Name)
    SELECT DISTINCT CName
    FROM Dataset;

 * sqlite:///movies.db
153 rows affected.

[]

In [7]:
%%sql
INSERT INTO CREDITS (MID, AID, CCode)
SELECT DISTINCT MID, AID, CCode
FROM DATASET
    JOIN MOVIES ON (MOVIES.MTitle=DATASET.MTitle)
    JOIN ARTISTS ON (ARTISTS.Name=DATASET.CName);

 * sqlite:///movies.db
1458 rows affected.

[]

In [8]:
%%sql
INSERT INTO SHOW (MID,TID,STime)
SELECT DISTINCT MID, TID, ShowTime
FROM DATASET
    JOIN MOVIES ON (DATASET.MTitle = MOVIES.MTitle)
    JOIN THEATERS ON (DATASET.TName = THEATERS.TName)

 * sqlite:///movies.db
786 rows affected.

[]

3. **Check your work.**  
There are 9 theaters, 23 movies, 152 artists, 131 shows, and 161 credits.

In [11]:
YOUR CODE HERE

SyntaxError: invalid syntax (<ipython-input-11-1f6482a73065>, line 1)

4. **Now check the source data.**  
There are actually 13 duplicate rows in the original source data! Can you spot them? Write a SQL query that counts how many times each (MTitle, TName, Showtime, CCode, and CName) appears. Which ones appear more than once?

In [20]:
%%sql
SELECT MTitle, TName, Showtime, CCode, CName
FROM Dataset
GROUP BY MTitle, TName, Showtime, CCode, CName
HAVING COUNT (*) > 1;

 * sqlite:///movies.db
Done.

[('Dear God', 'SOCAL Canyon Springs Cinema', '9:00 PM', 'A', 'Greg Kinnear'),
 ('Dear God', 'SOCAL Canyon Springs Cinema', '9:00 PM', 'A', 'Hector Elizondo'),
 ('Dear God', 'SOCAL Canyon Springs Cinema', '9:00 PM', 'A', 'Jon Seda'),
 ('Dear God', 'SOCAL Canyon Springs Cinema', '9:00 PM', 'A', 'Laurie Metcalf'),
 ('Dear God', 'SOCAL Canyon Springs Cinema', '9:00 PM', 'A', 'Maria Pitillo'),
 ('Dear God', 'SOCAL Canyon Springs Cinema', '9:00 PM', 'A', 'Roscoe Lee Browne'),
 ('Dear God', 'SOCAL Canyon Springs Cinema', '9:00 PM', 'A', 'Tim Conway'),
 ('Dear God', 'SOCAL Canyon Springs Cinema', '9:00 PM', 'D', 'Garry Marshall'),
 ('High School High', 'United Artists Riverside (Galleria) Tyler Mall', '9:00 PM', 'A', 'Jon Lovitz'),
 ('High School High', 'United Artists Riverside (Galleria) Tyler Mall', '9:00 PM', 'A', 'Mekhi Phifer'),
 ('High School High', 'United Artists Riverside (Galleria) Tyler Mall', '9:00 PM', 'A', 'Tia Carrera'),
 ('High School High', 'United Artists Riverside (Galleria) Tyler Mall', '9:00 PM', 'A', 'and Louise Fletcher'),
 ('High School High', 'United Artists Riverside (Galleria) Tyler Mall', '9:00 PM', 'D', 'Hart Bochner')]

5. **Drop the `DATASET` table.**  
We don't need it anymore.

In [25]:
%%sql
DROP TABLE dataset;

 * sqlite:///movies.db
Done.

[]

6. **Save, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 3".

In [26]:
COMPLETED PART 3

SyntaxError: invalid syntax (<ipython-input-26-50eb479ff604>, line 1)